@tailwind base;
@tailwind components;
@tailwind utilities;

.text-wrapper {
  display: flex;
  justify-content: flex-start;
  background: #e8ffa5;
  overflow: hidden;
  border-bottom: 1px solid black;
}
.text-wrapper2 {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-stroke-color: black;
  white-space: nowrap;
  padding: 0 6rem;
  letter-spacing: 1px;
  animation: move-rt1 6000ms linear infinite;
}

@keyframes move-rt1 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
